---
layout: default
---

<div class="page">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">by {{ page.author }}{% if page.date %} - {{ page.date | date_to_string }}{% endif %}</span>
  {{ content }}
  <div class="tags">
    <strong>Tags:</strong>
    {% for tag in page.tags %}
    <span class="tag">{{ tag }}</span>
    {% endfor %}
  </div>
  {% if page.comments %}
  <div id="disqus_thread"></div>
  <script>
  (function(){
  var d=document, s=d.createElement('script');
  s.src='https://http-croqaz-github-io.disqus.com/embed.js';
  s.setAttribute('data-timestamp',+new Date());
  (d.head || d.body).appendChild(s);
  })()
  </script>
  {% endif %}
</div>
